.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    padding: 0 5px;
}

.pagination li a {
    color: #000;
    border-radius: 50%;
}

.pagination li a:focus {
    box-shadow: none;
}

.pagination li.active span {
    background-color: #E1E9CC;
    color: #000;
    border-color: #A5AAAB;
    border-radius: 50%;
}

.pagination li:first-child {
    margin-right: 20px;
}

.pagination .page-item:first-child .page-link {
    border-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.pagination li:last-child {
    margin-left: 20px;
}

.pagination .page-item:last-child .page-link {
    border-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
