nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.page-item button {
    color: #000;
    border-radius: 50%;
    margin: 0 3px;
}

.page-item.active button {
    background-color: #E1E9CC;
    border: none;
    color: #000;
}

button.page-link:focus {
    box-shadow: none;
}