.datepicker {
    position: relative;
    top: -30px;
    left: 0;
    right: 0;
    bottom: 0;
}

.react-datepicker__input-container {
    visibility: hidden;
}

.react-datepicker-wrapper:input {
    display: none !important;
}